:root {
  --font-family: "Roboto", sans-serif;
  --black-color: #000000;
  --very-dark-grey-color: #212121;
  --dark-grey-color: #757575;
  --blue: #2196f3;
  --white: #ffffff;
  --forbutton: #f5f4fa;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

/*main text color
  black-color: #000000; */

/*secondary text color"
  very-dark-grey-color: #212121;
  dark-grey-color: #757575; */

/*accent color
  blue: #2196f3; */

/*other colors
color: rgb(172, 160, 160);
color: white;
color: rgba(255, 255, 255, 0.6);
background color company: rgba(47, 48, 58, 0.8); 
background color footer: #2F303A;*/

.body {
  --font-family: "Roboto", sans-serif;
  background-color: var(--white);
}

/*utilits*/
.list {
  list-style: none;
}

.container {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/*Main nav*/
.main-nav {
  display: flex;
  align-items: center;
  outline: 1px solid tomato;
}

/*main logo*/
.logo {
  display: flex;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  letter-spacing: 0.03em;
  color: var(--blue);
  text-decoration: none;
}

.page-header .logo {
  font-size: 26px;
}

.footer .logo {
  font-size: 22px;
}
.studio {
  font-family: "Ralewey", sans-serif;
  font-weight: bold;
  letter-spacing: 0.03em;
  margin-right: 85px;
}

.page-header .studio {
  font-size: 26px;
  line-height: 31px;
  color: var(--black-color);
}

.footer .studio {
  font-size: 22px;
  color: var(--white);
}

/*navigation */

.site-nav {
  display: flex;
  font-family: var(--font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.site-nav .item {
  margin-right: 50px;
}

.site-nav .item:last-child {
  margin-right: 0px;
}

.site-nav .link {
  display: block;
  color: var(--very-dark-grey-color);
  padding-top: 32px;
  padding-bottom: 33px;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--blue);
}

.site-nav .link.current {
  color: var(--blue);
}

/*contacts */
.contacts {
  display: flex;
  margin-left: auto;
  text-decoration: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.footer .contacts a {
  color: rgba(255, 255, 255, 0.6);
}

.contacts .item + .item {
  margin-right: 30px;
}

.contacts .item:last-child {
  margin-right: 0px;
}

.contacts .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 33px;
  margin-bottom: 0px;
  text-decoration: none;
  color: var(--dark-grey-color);
}
.contacts .link:hover,
.contacts .link:focus {
  color: var(--blue);
}

/* hero*/

.hero {
  outline: 1px solid tomato;
  text-align: center;
  background-color: var(--dark-grey-color);
  color: var(--white);
}

.hero-title {
  height: 120px;
  font-family: var(--font-family);
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
}

.button.primary .hero {
  border-radius: 4px;
  margin-top: 30px;
  margin-bottom: 0px;
}

/*common section options*/

.section {
  font-family: var(--font-family);
  font-style: normal;
}

.section-title {
  text-align: center;
  margin-top: 90px;
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: var(--very-dark-grey-color);
}

.section-item {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: var(--very-dark-grey-color);
}

.section-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--dark-grey-color);
}

/*advantages options*/

.advantages {
  outline: 1px solid tomato;
  display: flex;
  margin-top: 93px;
  margin-bottom: 0px;
  justify-content: space-between;
  font-family: var(--font-family);
  color: var(--very-dark-grey-color);
  text-decoration: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.details {
  display: block;
  padding-right: 30px;
}

.details:last-child {
  padding-right: 0px;
}

/*company options*/
.works {
  outline: 1px solid tomato;
  display: flex;
  margin-top: 0px;
  padding-bottom: 0px;
}
.occupation {
  display: block;
  margin-top: 50px;
  margin-bottom: 0px;
  padding-right: 30px;
}

.occupation:last-child {
  padding-right: 0px;
}

.section-item.company {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0px;
  padding-right: 30px;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--white);
  text-transform: uppercase;
  width: 370px;
  height: 70px;
}

.section-item.company:last-child {
  padding-right: 0px;
}

/*team section */

.team-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--dark-grey-color);
}

.team-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

/*projects*/
.invisible-heading {
  display: none;
}

.projects a {
  text-decoration: none;
  font-family: var(--font-family);
  font-style: normal;
}

.projects .name {
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--very-dark-grey-color);
}

.projects .type {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--dark-grey-color);
}

.projects .description {
  color: var(--white);
  background-color: var(--blue);
}

/*footer */

.footer {
  font-family: var(--font-family);
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--white);
  background-color: #2f303a;
  width: 1600px;
}
.footer .address {
  font-style: normal;
}

/*button */

.button {
  font-family: var(--font-family);
  font-style: normal;
  font-size: 16px;
}

.button.primary {
  font-weight: bold;
  line-height: 30px;
  letter-spacing: 0.06em;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 4px;
}

.button.secondary {
  color: var(--very-dark-grey-color);
  background-color: var(--forbutton);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
}

.blink:hover,
.blink:focus {
  background-color: var(--blue);
  color: var(--white);
}

.developed {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.4);
}

/*active image */
.social:hover {
  background-color: var(--blue);
}
